<div class="d-flex " >
<!-- Sidebar -->
  <div class="col-3 left-navbar">
    <%= render 'shared/left_navbar' %>
  </div>
<!-- Close sidebar -->

<!-- Page Content -->
    <div class="col-9">
      <!-- Navbar -->
        <div class="header-navbar">
          <%= render 'shared/navbar' %>
        </div>
      <!--Close Navbar -->

      <div class=" p-5">
        <div class="d-flex ">
          <!-- Tweets col -->
          <div class="col-9">
            <div class="text-center my-5">
              <h4>What is on your mind?</h4>
              <%= render 'shared/opinion_form' %>
            </div>
            <div>
              <h4>Latest opinions</h4>
              <%= render @opinions_posts %>
            </div>
          </div>
          <!-- Close Tweets col -->

          <!-- Who to follow col -->
          <div class="col-3 right_navbar">
            <div class="text-center my-5">
              <h4>Who to follow</h4>
              <%= render @suggest_people %> 
            </div>
          </div>
          <!-- Close Who to follow col -->
        </div>
      </div>
    </div>
</div>