<div class="d-flex" id="content-wrapper">
<div class="col-3"> 
<!-- Sidebar -->
<%= render 'shared/left_navbar' %>
<!-- Close sidebar -->
</div>
  <div class="w-100">
   <!-- Navbar -->
    <div class="header-navbar">
      <%= render 'shared/navbar' %>
    </div>    
    <!-- Close Navbar -->
    <!-- Page Content -->
    <div class="">
      <!-- Tweets col -->
        <div class="col-12">
            <% if @user2.cover_image.attached? %>
            <%= image_tag (@user2.cover_image), style: 'width:100%;height:272px;' %>
            <% end %>
          </div>
          <div class="d-flex">
          <div class="col-9 ">
            <h4 class="text-center pt-3 pb-3">Users Post</h4>
            <%= render @own_opinions %>
          </div>  
          <div class="p-3">
            <%= render 'shared/right_navbar' %>
        </div>
       </div>
        </div>
    </div>
<!-- Close User2 profile info -->
</div>
  </div>

<!-- Close Tweets col -->

<!-- User2 profile info -->


</div>

</div>

</div>
</div>

