<div class="d-flex" id="content-wrapper">
  <div class="col-3"> 
  <!-- Sidebar -->
  <%= render 'shared/left_navbar' %>
  <!-- Fin sidebar -->
</div>
  <div class="w-100">

    <!-- Navbar -->
    <%= render 'shared/navbar' %>
    <!-- Fin Navbar -->

    <!-- Page Content -->

      <div class="container-fluid">
        <div class="row">
          <!-- Tweets col -->
          <div class="col-9">
            <div>
              <% if @user2.cover_image.attached? %>
              <%= image_tag @user2.cover_image.key, :width => 1200, :height => 200, :crop=>"fill" %>
              <% end %>
              <h4 class="text-center">Opinions</h4>
              <div>
                <%= render @own_opinions %>
             
              </div>  -->error :PhrasesTermsController#new is missing a template for request formats: text/html
           
            </div>
            <div>

            </div>
          </div>

          <!-- Fin Tweets col -->

          <!-- User2 profile info -->
          <div class="col-3"> 
            <%= render 'shared/right_navbar' %>
          <!-- Fin User2 profile info -->
          </div>

      </div>

    </div>

  </div>
</div>