
<div class="container left-sidebar ">
    <div class="text-center left-sidebar-top">
      <div class="p-3">
       <% if current_user.photo.attached? %>
       <%= image_tag(current_user.photo, :width=>150, :height=>150, :gravity=>"face", :radius=>"max", :crop=>"fill", :fetch_format=>:auto)  %>
        <% else %>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/en/e/ee/Unknown-person.gif", :width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"fill", :fetch_format=>:auto, :type=>"fetch") %>
        <% end %>
        </div>
        <div class='d-flex flex-column '>
            <div class='d-flex justify-content-center align-items-center flex-column flex-md-row'>
            </div>
                <span class='align-self-center bold-name-right text-center'><%= current_user.name %></span>
                <span class='align-self-center username text-center color-light-grey'>@<%= current_user.username %></span>
            <div class='d-flex flex-column flex-md-row mt-3'>
                <div class='border flex-grow-1'>
                    <span class='text-center d-block font-weight-bolder'><%= current_user.followers.count %></span>
                    <span class='text-center d-block bold-flw color-light-grey'>Following</span>
                </div>
                <div class='border flex-grow-1'>
                    <span class='text-center d-block font-weight-bolder'><%= current_user.followed_users.count %></span>
                    <span class='text-center d-block bold-flw color-light-grey'>Followers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="left-sidebar-bottom ">
        <a href="/" class="d-block nav-link border-0"><i class="icon ion-md-apps lead mr-2"></i>Home</a>
    </div>
</div>
    
